body{
    background-image: url('./images/background12.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #ABABAB;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-fluid{
    padding: 0% 10%;
}

header{
    padding-top: 1%;
}
.header-text{
    margin-left: 7%;
}
header a{
    color: rgb(172, 172, 172);
    font-size: 70%;
    text-decoration: none;
    margin-top: 2%;
    padding: 1% 2%;
}
header a img{
    padding-right:5px;
}
.separator{
    border-right:1px solid #9A9899;
    height:0.6rem;
    margin-top:3.5%;
}
.navbar{
    background-color:#D7D6D4;
    padding: 0%;
    padding-left: 12%;
    margin: 0% -12.5%;
    outline: 1px solid rgba(215,214,212,0.7);
    outline-offset: 1px;
    margin-top: 2%;
}

.navbar input{
    
    padding: 1%;
    font-size: 50%;
}
.nav-txt input{
    padding-right: 50px;
    border-radius: 1px;
    border:none;
  
    box-shadow:1px 1px 1px 1px #5c5b5b inset;
    
}

.nav-go input{
    border-radius: 5px;
    padding: 0% 10px;
    border: 1px solid #494949;
    
    
}
.navbar li a{
    color:#494949;
    font-size: 65%;
    text-decoration: none;
    padding: 1%;   
}
.nav-item{
    border-right: 1px solid rgba(254,255,254,0.3);
}
.nav-item:nth-child(8){
    border: none;
    padding-left: 4%;
    
}
.nav-item:nth-child(9){
    border: none;
    padding-left: 1%;
}
.sub-nav{
    margin-top: 1%;
}
.sub-nav a{
    color: #6D7386;
    font-size: 60%;
    text-decoration: none;
    margin-top: 1%;
    padding: 1% 2%;
    
}
.sn2{
    padding-right: 5%;
}
.sn2 a{
    margin-top: 3%;
}
.sub-nav span{
    font-size: 50%;
    margin-top: 2.2%;
}

hr{
    margin: 0% -12.5%;
    padding: 0%;
}

.main-one-text{
    background-color: #3C3B39;
    outline: 1px solid  rgba(171,171,171,0.3);
    outline-offset: -5px;
    padding: 4%;
}
.main-one-text p{
font-size: 75%;
padding-right: 15%;
}
.list-item{
    list-style-type: none;
    border-bottom: 1px solid rgba(171,171,171,0.3);
    padding: 2%;
    font-size: 80%;
}
.list-item:nth-child(6){
    border: none;
}
.main-one-text a{
    color:#ABABAB ;
    font-size: 60%;
}
.main-one{
    border:6px solid rgb(255, 255, 255) ;
    border-image: linear-gradient(to top, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.1) 80%)1;
}
.main-one img{
    padding: 0%;
    border-right:6px solid rgb(255, 255, 255) ;
    border-image: linear-gradient(to top, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.1) 80%)1;
}
.main-two{
    background-color: white;
    border: 6px solid #3C3B39;
}
.main-two h6{
    margin: 0%;
    font-size: 80%;
    color:#3C3B39 ;
}
.main-two p{
    font-size: 60%;
}

.main-two a{
    font-size: 70%;
    display: block;
    float: right;
}
.main-two div{
    padding: 0%;
}
.box-one{
    border-right: 1px solid #9A9899;
    border-image: linear-gradient(to top, rgba(154, 152, 153,0) 1%,rgba(154,152,153,0.3)10%, rgba(154, 152, 153,0.3) 95%,rgba(154,152,153,0)1%)2;
    background-image: url('./images/promo_glass.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 0% bottom 0%;
    
}
.box-two{
    border-right: 1px solid #9A9899;
    border-image: linear-gradient(to top, rgba(154, 152, 153,0) 1%,rgba(154,152,153,0.3)10%, rgba(154, 152, 153,0.3) 95%,rgba(154,152,153,0)1%)2;
    background-image: url('./images/promo_plates.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left 0% bottom 0%;
}
.box-three{
    background-image: url('./images//promo_album.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0% bottom 0%;
}
.box-one-text{
    margin: 3% 6%;
}
.box-one a{
    padding-bottom: 20%;
    text-decoration: none;
    color: #6D7386;
}
.box-two-text{
    margin:3% 6%;
}
.box-two a{
    padding-bottom: 20%;
    text-decoration: none;
    color: #6D7386;
}
.box-three-text{
    margin: 3% 6%;
    margin-right: 40%
}
.box-three a{
    padding-bottom: 20%;
    padding-right: 20%;
    text-decoration: none;
    color: #6D7386;
}

footer li{
    list-style-type: none;
    margin-right: 1.5%;
    margin-left: 1.5%;
}
footer li:nth-child(1){
    margin-left: 0%;
}
.f-one{
    padding: 0%;
}

.f-one ul{
    padding: 0%;
    margin: 0%;
}
.f-one li a{
    color: #9A9899;
    font-size: 60%;  
}
.f-one p a{
    color: #9A9899;
}
footer p{
    font-size: 60%;
}
.f-two{
   
    padding: 0%;
}
.f-two input:nth-child(2){
    
    font-size: 56%;
    border: none;
   
}
.f-two div{
    float: right;
}
.f-two input:nth-child(3){
    border-radius: 3px;
    font-size: 56%;
    border: none;
}
.f-two p{
    margin: 0%;
    margin-top: 2%;
}
.separatorf{
    border-right:1px solid #9A9899;
    height:0.6rem;
    margin-top:3%;
}
@media screen and (min-width:1200px){
header a{
    font-size: 90%;
}
.navbar li a{
    font-size: 85%;
}
.nav-item:nth-child(8){
    padding-left: 15%;
}
.nav-item:nth-child(9){
    border: none;
    padding-left: 1%;
}
.sub-nav a{
    font-size: 90%;
    padding: 0% 3%;
}
.sub-nav span{
    font-size: 90%;
    margin-top: 1%;
}
.main-one-text p{
    font-size: 100%;
}
.main-one-text a{
 font-size: 65%;
}
.list-item{
    font-size: 100%;
}
.main-two h6{
    font-size: 100%;
}
.main-two p{
    font-size: 80%;
}

.main-two a{
    font-size: 75%;
}
.f-one li a{
    font-size: 80%;  
}
footer p{
    font-size: 80%;
}
.separatorf{
  
    margin-top:2%;
}
}
@media screen and (max-width:1330px){
    .nav-item:nth-child(8){
        padding-left: 10%;
    } 
}


@media screen and (max-width:768px){
    .separatorf{
        margin-top:4%;
    }
    .main-one img{
        border-right:none;
    }
}
